<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

<p><%= notice %></p>

<h1>つぃーと一覧</h1>

<% @atweet.each do |atweet| %>
  <div class="row">
  <p><%= atweet.content %></p>
  <%= link_to "編集", edit_atweet_path(atweet.id), class: 'btn btn-default btn-sm btn-success' %>
  <%= link_to "削除", atweet_path(atweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
    </div>
    <% end %>

<%= link_to "つぃーとする", new_atweet_path, class: 'btn btn-default' %>

  </div>
</div>